<div class="container">

  <button *ngFor="let kategorija of kategorije" class="btn btn-outline-primary" (click)="Filter(kategorija)">
    {{ kategorija }} </button>

  <p>Ukupna vrijednost: {{ ukupno | currency: ' ': ' ' }} KM</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Detalji transakcije</th>
        <th>Kategorija transakcije</th>
        <th>Iznos transakcije</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transakcija of transakcijeZaDisplay">
        <td>{{ transakcija.datum | date:'dd.MM.yyyy HH:mm' }}</td>
        <td>{{ transakcija.detaljiTransakcije }}</td>
        <td>{{ transakcija.kategorija }}</td>
        <td>{{ transakcija.iznos | currency: ' ': ' ' }}</td>
      </tr>
    </tbody>
  </table>
</div>
