<div class="container">

  <input type="text" [(ngModel)]="terminZaPretragu" />
  <button class="btn btn-primary" (click)="Pretrazi()">Pretraži</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ime</th>
        <th>Jezici</th>
        <th>Broj stanovnika</th>
        <th>Zastava</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let drzava of sveDrzave">
        <td>{{ drzava.name }}</td>
        <td>
          <p *ngFor="let jezik of drzava.languages">{{ jezik.name }} {{ jezik.nativeName }}</p>
        </td>
        <td>{{ drzava.population | number }}</td>
        <td><img src="{{ drzava.flag }}" height="50px"> </td>
      </tr>

    </tbody>
  </table>
</div>
